.loading-page {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  display:flex;
  justify-content:center
}

.loading-page img {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

.loading-page h2 {
  font-size: 24px;
  color: #333;
}
